body {
  background-image: url(../grafika/yellow-flower.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

span.title {
  display: block;
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  padding: 1%;
  margin: 4% 0 3% 0;
  color: #382203;
  letter-spacing: 1px;
  text-align: center;
}

.wrap-treat-desc {
  margin: 180px 4% 6%;
  font-family: 'Roboto', sans-serif;
  width: 58%;
  text-align: justify;
}

.wrap-treat-desc h1 {
  font-family: 'Lora', serif;
  font-size: 26px;
  margin: 6% auto 0;
  color: #054744;
  letter-spacing: 1px;
}

.wrap-treat-desc h1:nth-of-type(1),
.wrap-treat-desc h1:nth-of-type(10) {
  margin-top: 3%;
}

.wrap-treat-desc h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 19px;
  font-weight: normal;
  padding: 1%;
  border-bottom: 2px solid #054744;
  color: #054744;
  letter-spacing: 1px;
  margin: 3px auto;
  cursor: pointer;
  transition: .2s;
}


span.plus {
  font-size: 14px;
  padding: 0 1%;
}

.wrap-treat-desc h2:hover span.plus {
  font-weight: bold;
  font-size: 14px;
}

.wrap-treat-desc h2:hover {
  font-weight: bold;
  font-size: 19px;
}

.hidden {
  display: none;
}

.hidden.vis {
  display: block;
}

.wrap-treat-desc p {
  padding: 5px 2px;
}

div.price-wrap {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #054744;
  padding: 3px;
  font-size: 17px;
}

div.price-desc {
  display: flex;
  width: 80%;
  margin-right: 5px;
}

div.price-zl {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  padding: 0 1%;
}