@media (orientation: landscape) and (min-width: 533px) {
  .menu {
    display: none;
  }

  body {
    background-image: url();
  }

  .wrap-treat-desc {
    text-align: left;
    margin: 60px 2px;
    width: 99%;
    padding: 4px;
  }

  span.title {
    font-size: 25px;
  }

  .wrap-treat-desc h1 {
    font-size: 22px;
  }

  .wrap-treat-desc h2 {
    font-size: 16px;
  }

  .wrap-treat-desc h2:hover {
    font-size: 16px;
  }


  span.plus {
    font-size: 12px;
  }

  .wrap-treat-desc h2:hover span.plus {
    font-size: 12px;
  }

  div.price-wrap {
    padding: 2px;
    font-size: 14px;
  }

  div.price-desc {
    width: 80%;
  }

  div.price-zl {
    width: 20%;
  }

  .name-adress p,
  .cookie {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 730px) {
  .wrap-treat-desc h2 {
    font-size: 18px;
  }

  .wrap-treat-desc h2:hover {
    font-size: 18px;
  }


  span.plus {
    font-size: 13px;
  }

  .wrap-treat-desc h2:hover span.plus {
    font-size: 13px;
  }

  div.price-wrap {
    padding: 2px;
    font-size: 15px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .wrap-menu-media,
  .menu-ham {
    display: none;
  }

  .wrap-treat-desc {
    margin: 180px auto 6%;
    background-color: rgba(255, 255, 255, .7);
    font-family: 'Roboto', sans-serif;
    width: 70%;
    text-align: justify;
  }

  body {
    background-image: url(../grafika/yellow-flower.jpg);
    background-size: 263%;
    background-position: right center;
  }

  span.title {
    font-size: 33px;
  }

  .wrap-treat-desc h2 {
    font-size: 21px;
  }

  .wrap-treat-desc h2:hover {
    font-size: 21px;
  }


  span.plus {
    font-size: 16px;
  }

  .wrap-treat-desc h2:hover span.plus {
    font-size: 16px;
  }

  div.price-wrap {
    padding: 2px;
    font-size: 17px;
  }

  .name-adress p,
  .cookie {
    display: block;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  body {
    background-size: 104%;
  }

  .wrap-treat-desc {
    margin: 180px 4% 6% 4%;
    width: 55%;
  }

  .wrap-treat-desc h1 {
    font-size: 32px;
  }

  .wrap-treat-desc h2 {
    font-size: 26px;
  }

  .wrap-treat-desc h2:hover {
    font-weight: bold;
    font-size: 26px;
  }


  span.plus {
    font-size: 17px;
  }

  .wrap-treat-desc h2:hover span.plus {
    font-size: 17px;
  }

  div.price-wrap {
    padding: 3px;
    font-size: 18px;
  }
}

@media (orientation: landscape) and (min-width: 1366px) {

  .wrap-treat-desc h1 {
    font-size: 26px;
  }

  .wrap-treat-desc h2 {
    font-size: 19px;
  }

  .wrap-treat-desc h2:hover {
    font-weight: bold;
    font-size: 19px;
  }

  div.price-wrap {
    padding: 4px;
    font-size: 18px;
  }
}

@media (orientation: portrait) and (min-width: 320px) {
  .menu {
    display: none;
  }

  body {
    background-image: url();
  }

  .wrap-treat-desc {
    text-align: left;
    margin: 60px 0;
    width: 100%;
    padding: 3px;
  }

  span.title {
    font-size: 21px;
  }


  .wrap-treat-desc h1 {
    font-size: 18px;
  }

  .wrap-treat-desc h2 {
    font-size: 15px;
  }

  .wrap-treat-desc h2:hover {
    font-size: 15px;
  }

  span.plus {
    font-size: 12px;
  }

  .wrap-treat-desc h2:hover span.plus {
    font-size: 12px;
  }

  div.price-wrap {
    padding: 2px;
    font-size: 14px;
  }

  div.price-desc {
    width: 70%;
    margin: 4px;
  }

  div.price-zl {
    text-align: center;
    width: 30%;
  }

  .name-adress p,
  .cookie {
    display: none;
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  .wrap-treat-desc {
    margin: 50px 2px;
  }

  span.title {
    font-size: 26px;
  }

  .wrap-treat-desc h1 {
    font-size: 22px;
  }

  .wrap-treat-desc h2 {
    font-size: 16px;
    padding: 10px 0;
  }

  .wrap-treat-desc h2:hover {
    font-size: 16px;
  }

  span.plus {
    font-size: 13px;
  }

  .wrap-treat-desc h2:hover span.plus {
    font-size: 13px;
  }

  div.price-wrap {
    padding: 3px;
    font-size: 16px;
  }
}

@media (orientation: portrait) and (min-width: 411px) {
  span.title {
    font-size: 28px;
  }

  .wrap-treat-desc h1 {
    font-size: 24px;
  }

  .wrap-treat-desc h2 {
    font-size: 18px;
  }

  .wrap-treat-desc h2:hover {
    font-size: 18px;
  }

  span.plus {
    font-size: 15px;
  }

  .wrap-treat-desc h2:hover span.plus {
    font-size: 15px;
  }

  div.price-wrap {
    font-size: 18px;
  }

}

@media (orientation: portrait) and (min-width: 768px) {
  .wrap-menu-media {
    height: 70px;
  }

  .media-logo img {
    height: 65px;
    padding-left: 50px;
  }

  .menu-media {
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
  }

  .menu-ham {
    padding: 15px;
    font-size: 40px;
  }

  .wrap-treat-desc {
    margin: 0 auto;
    width: 90%;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .wrap-menu-media {
    display: none;
  }

  .wrap-treat-desc {
    margin: 180px auto 6%;
    background-color: rgba(255, 255, 255, .7);
    font-family: 'Roboto', sans-serif;
    width: 70%;
    text-align: justify;
  }

  body {
    background-image: url(../grafika/yellow-flower.jpg);
    background-size: 263%;
    background-position: right center;
  }

  span.title {
    font-size: 33px;
  }

  .wrap-treat-desc h1 {
    font-size: 28px;
  }

  .wrap-treat-desc h2 {
    font-size: 23px;
  }

  .wrap-treat-desc h2:hover {
    font-weight: bold;
    font-size: 25px;
  }

  .name-adress p,
  .cookie {
    display: block;
  }
}