.body {
  max-width: 1900px;
  margin: 0 auto;
}

.wrap-treatments {
  text-align: center;
  margin: 180px auto 100px;
  padding: 0 1%;
}

.wrap-treatments h1 {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  color: #074952;
  padding: 4px;
  margin: 4% auto .5%;
  letter-spacing: 1px;
}

.wrap-treatments h1:nth-of-type(1) {
  margin-top: 0;
}

.wrap-faces,
.wrap-body,
.wrap-laser,
.wrap-men {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.faces,
.bodys,
.laser,
.men {
  height: 35vh;
  flex-basis: 30.5%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: .7s;
  margin: 1%;
  transform: scale(1);
}

.faces:hover,
.bodys:hover,
.laser:hover,
.men:hover {
  transform: scale(1.15);
}

.faces.f1 {
  background-image: url(../graphics/f1.jpg);
  background-size: cover;
}

.faces.f2 {
  background-image: url(../graphics/f2.jpg);
  background-position: top;
  background-size: cover;
}

.faces.f3 {
  background-image: url(../graphics/f3.jpg);
  background-size: cover;
}

.faces.f4 {
  background-image: url(../graphics/f4.jpg);
  background-size: cover;
}

.faces.f5 {
  background-image: url(../graphics/f5.jpg);
  background-size: cover;
  background-position: top;
}

.faces.f6 {
  background-image: url(../graphics/f6.png);
  background-size: cover;
  background-position: top;
}

.faces.f7 {
  background-image: url(../graphics/f7.png);
  background-size: cover;
}

.faces.f8 {
  background-image: url(../graphics/f8.jpg);
  background-size: cover;
}

.faces.f9 {
  background-image: url(../graphics/f9.jpg);
  background-size: cover;
}

.bodys.b1 {
  background-image: url(../graphics/b1.jpg);
  background-size: cover;
}

.bodys.b2 {
  background-image: url(../graphics/f1.jpg);
  background-size: cover;
}

.bodys.b3 {
  background-image: url(../graphics/b3.jpg);
  background-size: cover;
}

.laser.l1 {
  background-image: url(../graphics/l1.jpg);
  background-size: cover;
}

.laser.l2 {
  background-image: url(../graphics/l2.jpg);
  background-size: cover;
}

.men {
  background-image: url(../graphics/m1.jpg);
  background-size: cover;
}

.faces a,
.bodys a,
.laser a,
.men a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.faces h2,
.bodys h2,
.laser h2,
.men h2,
.faces h3,
.bodys h3,
.laser h3,
.men h3 {
  color: white;
  font-size: 21px;
  text-shadow: 0 0 4px black;
  /* background-color: rgba(13, 160, 197, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3px 0;
}

.faces h3,
.bodys h3,
.laser h3,
.men h3 {
  font-size: 18px;
  font-weight: normal;
}

.faces p,
.bodys p,
.laser p,
.men p {
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 1%;
  color: white;
  font-size: 18px;
  text-shadow: 0 0 4px black;
  /* background-color: rgba(13, 160, 197, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: .3s;
}

.faces:hover.faces p,
.bodys:hover.bodys p,
.laser:hover.laser p,
.men:hover.men p {
  opacity: 1;
}