 @media (orientation: landscape) and (min-width: 533px) {
   .menu {
     display: none;
   }

   body {
     background-image: url();
   }

   .wrap-treat-desc {
     text-align: left;
     margin: 60px auto;
     width: 92%;
     padding: 4px;
   }

   span.title {
     font-size: 25px;
   }

   .wrap-treat-desc h1 {
     font-size: 24px;
   }

   .wrap-treat-desc h2 {
     font-size: 18px;
   }

   .wrap-treat-desc h2:hover {
     font-size: 18px;
   }

   .name-adress p,
   .cookie {
     display: none;
   }

   .hidden.vis {
     font-size: 18px;
   }
 }

 @media (orientation: landscape) and (min-width: 660px) {
   span.title {
     font-size: 28px;
   }

   .wrap-treat-desc h1 {
     font-size: 28px;
   }

   .wrap-treat-desc h2 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     font-size: 20px;
   }

   .wrap-treat-desc h2:hover {
     font-size: 20px;
   }

   .hidden.vis {
     font-size: 19px;
   }
 }

 @media (orientation: landscape) and (min-width: 1024px) {
   .menu {
     display: flex;
   }

   .wrap-menu-media,
   .menu-ham {
     display: none;
   }

   .wrap-treat-desc {
     margin: 180px auto 6%;
     background-color: rgba(255, 255, 255, .5);
     font-family: 'Roboto', sans-serif;
     width: 70%;
     text-align: justify;
   }

   body {
     background-image: url(../grafika/treat-face.jpg);
     background-size: 255%;
   }

   span.title {
     font-size: 33px;
   }

   .wrap-treat-desc h1 {
     font-size: 28px;
   }

   .wrap-treat-desc h2 {
     font-size: 23px;
   }

   .wrap-treat-desc h2:hover {
     font-weight: bold;
     font-size: 25px;
   }

   .hidden.vis {
     font-size: 20px;
   }

 }

 @media (orientation: landscape) and (min-width: 1280px) {
   body {
     background-size: 104%;
   }

   .wrap-treat-desc {
     margin: 180px 4% 6% 4%;
     width: 55%;
   }

   .wrap-treat-desc h1 {
     font-size: 32px;
   }

   .wrap-treat-desc h2 {
     font-size: 26px;
   }

   .wrap-treat-desc h2:hover {
     font-weight: bold;
     font-size: 27px;
   }

   .hidden.vis {
     font-size: 21px;
     padding: 0 10px;
   }
 }

 @media (orientation: landscape) and (min-width: 1366px) {
   .wrap-treat-desc h1 {
     font-size: 26px;
   }

   .wrap-treat-desc h2 {
     font-size: 19px;
   }

   .wrap-treat-desc h2:hover {
     font-weight: bold;
     font-size: 19px;
   }

   .hidden.vis {
     font-size: 17px;
   }
 }

 @media (orientation: portrait) and (min-width: 320px) {
   .menu {
     display: none;
   }

   body {
     background-image: url();
   }

   .wrap-treat-desc {
     text-align: left;
     margin: 60px 0;
     width: 100%;
     padding: 3px;
   }

   span.title {
     font-size: 25px;
   }

   .wrap-treat-desc h1 {
     font-size: 20px;
   }

   .wrap-treat-desc h2 {
     font-size: 15px;
   }

   .wrap-treat-desc h2:hover {
     font-size: 15px;
   }

   .name-adress p,
   .cookie {
     display: none;
   }

   .hidden.vis {
     font-size: 16px;
   }
 }

 @media (orientation: portrait) and (min-width: 360px) {
   .wrap-treat-desc {
     margin: 50px 2px;
   }

   span.title {
     font-size: 26px;
   }

   .wrap-treat-desc h1 {
     font-size: 21px;
   }

   .wrap-treat-desc h2 {
     font-size: 16px;
     padding: 10px 0;
   }

   .wrap-treat-desc h2:hover {
     font-size: 16px;
   }

   .name-adress p,
   .cookie {
     display: none;
   }

   .hidden.vis {
     font-size: 16px;
   }
 }

 @media (orientation: portrait) and (min-width: 411px) {
   span.title {
     font-size: 28px;
   }

   .wrap-treat-desc h1 {
     font-size: 23px;
   }

   .wrap-treat-desc h2 {
     font-size: 17px;
   }

   .wrap-treat-desc h2:hover {
     font-size: 17px;
   }

   .hidden.vis {
     font-size: 17px;
   }
 }

 @media (orientation: portrait) and (min-width: 768px) {
   .wrap-menu-media {
     height: 70px;
   }

   .media-logo img {
     height: 65px;
     padding-left: 50px;
   }

   .menu-media {
     flex-direction: row;
     flex-wrap: wrap;
     height: calc(10vh);
   }

   .menu-ham {
     padding: 15px;
     font-size: 40px;
   }

   .wrap-treat-desc {
     margin: 50px auto 6%;
     width: 90%;
   }
 }

 @media (orientation: portrait) and (min-width: 1024px) {
   .menu {
     display: flex;
   }

   .wrap-menu-media {
     display: none;
   }

   .wrap-treat-desc {
     margin: 180px auto 6%;
     background-color: rgba(255, 255, 255, .5);
     font-family: 'Roboto', sans-serif;
     width: 70%;
     text-align: justify;
   }

   body {
     background-image: url(../grafika/treat-face.jpg);
     background-size: 255%;
   }

   span.title {
     font-size: 33px;
   }

   .wrap-treat-desc h1 {
     font-size: 28px;
   }

   .wrap-treat-desc h2 {
     font-size: 23px;
   }

   .wrap-treat-desc h2:hover {
     font-weight: bold;
     font-size: 25px;
   }

   .hidden.vis {
     font-size: 20px;
   }
 }