@media (orientation: landscape) and (min-width: 533px) {
  .menu {
    display: none;
  }

  .wrap-treatments {
    margin: 60px 0 40px 0;
  }

  .wrap-treatments h1 {
    font-size: 26px;
  }

  .faces,
  .bodys,
  .laser,
  .men {
    height: 45vh;
    flex-basis: 49%;
    margin: 2px;
  }

  .faces:hover,
  .bodys:hover,
  .laser:hover,
  .men:hover {
    transform: scale(1.05);
  }


  .faces h2,
  .bodys h2,
  .laser h2,
  .men h2,
  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 18px;
  }

  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 16px;
  }

  .faces p,
  .bodys p,
  .laser p,
  .men p {
    font-size: 15px;
  }

  .name-adress p,
  .cookie {
    display: none;
  }
}

@media (orientation: landscape) and (min-width: 812px) {

  .faces,
  .bodys,
  .laser,
  .men {
    height: 55vh;
    margin: 3px;
  }
}

@media (orientation: landscape) and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .wrap-menu-media,
  .menu-ham {
    display: none;
  }

  .wrap-treatments {
    margin: 180px auto 100px;
  }

  .faces,
  .bodys,
  .laser,
  .men {
    height: 25vh;
    margin: 3px;
    flex-basis: 31%;
  }

  .faces h2,
  .bodys h2,
  .laser h2,
  .men h2,
  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 21px;
  }

  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 19px;
  }

  .faces p,
  .bodys p,
  .laser p,
  .men p {
    font-size: 18px;
  }

  .name-adress p {
    display: block;
  }

  .cookie {
    display: block;
  }
}

@media (orientation: landscape) and (min-width: 1280px) {
  .wrap-treatments h1 {
    font-size: 33px;
  }

  .faces,
  .bodys,
  .laser,
  .men {
    height: 17vw;
    margin: 10px;
    flex-basis: 31%;
  }

  .faces:hover,
  .bodys:hover,
  .laser:hover,
  .men:hover {
    transform: scale(1.12);
  }

  .faces h2,
  .bodys h2,
  .laser h2,
  .men h2,
  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 24px;
  }

  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 21px;
  }

  .faces p,
  .bodys p,
  .laser p,
  .men p {
    font-size: 20px;
  }

}

@media (orientation: landscape) and (min-width: 1600px) {
  .wrap-treatments h1 {
    font-size: 36px;
  }

  .faces,
  .bodys,
  .laser,
  .men {
    height: 15vw;
    margin: 15px;
  }

  .faces h2,
  .bodys h2,
  .laser h2,
  .men h2,
  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 24px;
  }

  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 23px;
  }

  .faces p,
  .bodys p,
  .laser p,
  .men p {
    font-size: 22px;
  }
}

@media (orientation: portrait) and (min-width: 320px) {
  .menu {
    display: none;
  }

  .wrap-treatments {
    margin: 70px auto 40px;
  }

  .wrap-treatments h1 {
    font-size: 20px;
  }

  .faces,
  .bodys,
  .laser,
  .men {
    height: 35vh;
    flex-basis: 100%;
    margin: 0;
  }

  .faces:hover,
  .bodys:hover,
  .laser:hover,
  .men:hover {
    transform: scale(1.05);
  }


  .faces h2,
  .bodys h2,
  .laser h2,
  .men h2,
  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 18px;
  }

  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 16px;
  }

  .faces p,
  .bodys p,
  .laser p,
  .men p {
    font-size: 15px;
  }

  .name-adress p {
    display: none;
  }

  .cookie {
    display: none;
  }

}

@media (orientation: portrait) and (min-width: 360px) {

  .faces,
  .bodys,
  .laser,
  .men {
    height: 33vh;
    flex-basis: 100%;
    margin: 0;
  }

  .wrap-treatments h1 {
    font-size: 24px;
  }

  .faces h2,
  .bodys h2,
  .laser h2,
  .men h2,
  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 20px;
  }

  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 18px;
  }

  .faces p,
  .bodys p,
  .laser p,
  .men p {
    font-size: 17px;
  }
}

@media (orientation: portrait) and (min-width: 410px) {

  .faces,
  .bodys,
  .laser,
  .men {
    height: 28vh;
  }
}

@media (orientation: portrait) and (min-width: 768px) {
  .wrap-menu-media {
    height: 70px;
  }

  .media-logo img {
    height: 65px;
    padding-left: 50px;
  }

  .menu-media {
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(10vh);
  }

  .menu-ham {
    padding: 15px;
    font-size: 40px;
  }

  .faces,
  .bodys,
  .laser,
  .men {
    height: 20vh;
    flex-basis: 49%;
    margin: 3px;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  .menu {
    display: flex;
  }

  .wrap-menu-media {
    display: none;
  }

  .wrap-treatments {
    text-align: center;
    margin: 180px auto 100px;
    padding: 0 1%;
  }

  .wrap-treatments h1 {
    font-size: 30px;
  }

  .faces,
  .bodys,
  .laser,
  .men {
    height: 18vh;
    flex-basis: 49%;
    margin: 3px;
  }

  .faces h2,
  .bodys h2,
  .laser h2,
  .men h2,
  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 24px;
  }

  .faces h3,
  .bodys h3,
  .laser h3,
  .men h3 {
    font-size: 22px;
  }

  .faces p,
  .bodys p,
  .laser p,
  .men p {
    font-size: 20px;
  }

  .name-adress p {
    display: block;
  }

  .cookie {
    display: block;
  }
}